body {
    font-family: sans-serif;
    background-color: #f1f1f1;
    color: black;
}

.MyStyle h1 {
    font-family: Garamond;
    text-align: center;
    background-color: #036;
    color: white;
    padding: 20px;
    margin: 10px 0 10px 0;
    margin-bottom: 1px;
}
