@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    font-family: sans-serif;
}

.map-container {
    overflow: hidden;
    border-radius: 7px;
}

.map-container .header {
    font-family: 'quicksand';
    font-size: 18pt;
    text-align: center;
    background-color: #02bd94;
    color: white;
    padding: 3px;
}

.map-container .map {
    display: inline-block;
    width: 100%;
    height: 85vh;
    margin-bottom: -5px;
}
